<div class="row">
    <div class="col-auto">
        <select class="form-select" id="games" onchange="this.form.submit()">
            <option value="0" {if $game == 0}selected{/if}>{$LANG.all_games}</option>
            {foreach $games as $game_id => $game_name}
                <option value="{$game_id}" {if $game == $game_id}selected{/if}>{$game_name}</option>
            {/foreach}
        </select>
    </div>

</div>

<div class="table">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{$LANG.prd_name}</th>
                <th>{$LANG.stock}</th>
                <th>{$LANG.price}</th>
                <th>{$LANG.quantity}</th>
            </tr>
        </thead>
        <tbody>
            {foreach $products as $product}
                <tr>
                    <td>{$product.name}</td>
                    <td>{$product.stock}</td>
                    <td>{$product.price}</td>
                    <td>
                        <input name="quantity" type="number" class="form-control" value="1" min="{$product.min_order}"
                            max="{$product.max_order}" id="quantity_{$product.id}">
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="addProducts()">{$LANG.buy}</button>
</div>